{
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "globalReturn": false
        },
        "babelOptions": {}
    },
    "extends": [
        "cyberinvalid"
    ],
    "rules": {
        "no-await-in-loop": 0
    }
}