{
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "globalReturn": false
        },
        "babelOptions": {}
    },
    "extends": [
        "cyberinvalid"
    ]
}